.u-float-left{
	float: left;
}

.u-float-right{
	float: right;
}

.u-hidden{
	display: none;
}

.u-space-bottom {
	margin-bottom: 17px;
}

.u-space-bottom--double {
	margin-bottom: 34px;
}

.u-color-invert {
	color: $color-white !important;
}